@using Newtonsoft.Json;
@model IEnumerable<BookBook.Models.OrdersModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">
                            Danh sách đơn hàng
                        </h3>
                    </div>

                </div>
                <div class="card-body">
                    <!--begin: Datatable-->
                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
                    <!--end: Datatable-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>


@section Scripts{
    <script type="text/javascript">
        $('#menu-item-order').addClass('menu-item-active');


        var dataJson = @Html.Raw(JsonConvert.SerializeObject(Model, new Newtonsoft.Json.Converters.IsoDateTimeConverter() { DateTimeFormat = "dd-MM-yyy HH:mm:ss" }));
        console.log(dataJson);

        var datatable = $('#kt_datatable').KTDatatable({
            // datasource definition
            data: {
                type: 'local',
                source: dataJson,
                pageSize: 10,
            },

            // layout definition
            layout: {
                scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
                // height: 450, // datatable's body's fixed height
                footer: false, // display/hide footer
            },

            // column sorting
            sortable: true,

            pagination: true,

            //search: {
            //    input: $('#kt_datatable_search_query'),
            //    key: 'generalSearch'
            //},

            // columns definition
            columns: [{
                field: 'id',
                title: '#',
                sortable: false,
                width: 20,
                type: 'number',
                selector: {
                    class: ''
                },
                textAlign: 'center',
            },
            {
                field: 'User',
                title: 'User',
                template: function (row) {
                    return row.fullname;
                },
            }, {
                field: 'DateTime',
                title: 'Created Date',
                type: 'date',
                format: 'dd-MM-yyy HH:mm:ss',
            }, {
                field: 'Address',
                title: 'Address',
            },
            {
                field: 'Phone',
                title: 'Phone',
            },
                {
                    field: 'TotalPrice',
                    title: 'Total Price',
                    template: function (row) {
                        var formatter = new Intl.NumberFormat('vn-VN', {
                            style: 'currency',
                            currency: 'VND',
                        });

                        return formatter.format(row.total);
                    },
                },
                {
                    field: 'IsCheckout',
                    title: 'Thanh toán',
                    // callback function support for column rendering
                    template: function (row) {
                        var status = {
                            false: {
                                'title': 'Chưa thanh toán',
                                'class': ' label-light-danger'
                            },
                            true: {
                                'title': 'Đã thanh toán',
                                'class': ' label-light-warning'
                            },
                            "Paypal": {
                                'title': 'Paypal',
                                'class': 'success'
                            },
                            "Ship COD": {
                                'title': 'Ship COD',
                                'class': 'primary'
                            },
                        };
                        return '<span class="label label-' + status[row.PaymentMethod].class + ' label-dot mr-2"></span><span class="font-weight-bold text-' + status[row.PaymentMethod].class + '">' +
                            status[row.PaymentMethod].title + '</span>' + '<span class="label font-weight-bold label-lg ' + status[row.IsCheckout].class + ' label-inline">' + status[row.IsCheckout].title + '</span>';
                    },
                },
            {
                field: 'Vận chuyển',
                title: 'Status',
                // callback function support for column rendering
                template: function (row) {
                    var status = {
                        'đã giao hàng': {
                            'title': 'đã giao hàng',
                            'class': ' label-light-success'
                        },
                        'đang giao hàng': {
                            'title': 'đang giao hàng',
                            'class': ' label-light-primary'
                        },
                        'khách hủy đơn': {
                            'title': 'khách hủy đơn',
                            'class': ' label-light-danger'
                        },
                        'chưa duyệt': {
                            'title': 'chưa duyệt',
                            'class': ' label-light-dark'
                        },
                        'chờ lấy hàng': {
                            'title': 'chờ lấy hàng',
                            'class': ' label-light-info'
                        }
                    };
                    return '<span class="label font-weight-bold label-lg ' + status[row.Status].class + ' label-inline">' + status[row.Status].title + '</span>';
                },
                //},
            }, {
                field: 'Actions',
                title: 'Actions',
                sortable: false,
                width: 125,
                overflow: 'visible',
                autoHide: false,
                template: function (row) {
                    return '\
                                <div class="dropdown dropdown-inline">\
                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" data-toggle="dropdown">\
                                        <span class="svg-icon svg-icon-md">\
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">\
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">\
                                                    <rect x="0" y="0" width="24" height="24"/>\
                                                    <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#000000"/>\
                                                </g>\
                                            </svg>\
                                        </span>\
                                    </a>\
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">\
                                        <ul class="navi flex-column navi-hover py-2">\
                                            <li class="navi-header font-weight-bolder text-uppercase font-size-xs text-primary pb-2">\
                                                Choose an action:\
                                            </li>\
                                            <li class="navi-item">\
                                                <a href="/Orders/Approve/' + row.id + '" class="navi-link">\
                                                    <span class="navi-icon"><i class="fab fa-buffer"></i></span>\
                                                    <span class="navi-text">Chờ lấy hàng</span>\
                                                </a>\
                                            </li>\
                                            <li class="navi-item">\
                                                <a href="/Orders/Delivering/' + row.id + '" class="navi-link">\
                                                    <span class="navi-icon"><i class="fas fa-shipping-fast"></i></span>\
                                                    <span class="navi-text">Đang giao hàng</span>\
                                                </a>\
                                            </li>\
                                            <li class="navi-item">\
                                                <a href="/Orders/Delivered/' + row.id + '" class="navi-link">\
                                                    <span class="navi-icon"><i class="far fa-thumbs-up"></i></span>\
                                                    <span class="navi-text">Đã giao hàng</span>\
                                                </a>\
                                            </li>\
                                            <li class="navi-item">\
                                                <a href="/Orders/Cancel/' + row.id + '" class="navi-link">\
                                                    <span class="navi-icon"><i class="far fa-thumbs-down"></i></span>\
                                                    <span class="navi-text">Khách hủy đơn</span>\
                                                </a>\
                                            </li>\
                                        </ul>\
                                    </div>\
                                </div>\
                                <a href="/orders/details/' + row.id + '" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">\
                                    <span class="svg-icon svg-icon-md">\
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">\
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">\
                                                <rect x="0" y="0" width="24" height="24"/>\
                                                <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero"\ transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>\
                                                <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>\
                                            </g>\
                                        </svg>\
                                    </span>\
                                </a>\
                                <a href="/orders/delete/' + row.id + '" class="btn btn-sm btn-clean btn-icon" title="Delete">\
                                    <span class="svg-icon svg-icon-md">\
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">\
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">\
                                                <rect x="0" y="0" width="24" height="24"/>\
                                                <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"/>\
                                                <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>\
                                            </g>\
                                        </svg>\
                                    </span>\
                                </a>\
                            ';
                },
            }],
        });

        //$('#kt_datatable_search_status').on('change', function () {
        //    datatable.search($(this).val().toLowerCase(), 'Status');
        //});

        //$('#kt_datatable_search_type').on('change', function () {
        //    datatable.search($(this).val().toLowerCase(), 'Type');
        //});

        //$('#kt_datatable_search_status, #kt_datatable_search_type').selectpicker();
    </script>
}

@*@section Scripts{
        <script type="text/javascript">
            console.log("Ok");

            var dataJson = @JsonConvert.SerializeObject(Model);
                console.log(dataJson);

        </script>
    }*@