
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <img src="~/Content/img/thank-you-page.jpg" />
    <h3 class="mt-5 mb-5">Cám ơn bạn đã ủng hộ sản phẩm của chúng tôi. Vui lòng kiểm tra email để theo dõi đơn hàng của bạn.</h3>
</div>