@model BookBook.Models.OrderInfo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head runat="server">
    <title>VNPAY DEMO</title>
    
</head>
<body>
    <div class="container">
        <div class="header clearfix">

            <h3 class="text-muted">VNPAY DEMO</h3>
        </div>
        <div class="table-responsive">
            @using (Html.BeginForm("Index", "Payment"))
            {
                <h3>Tạo yêu cầu thanh toán </h3>

                <div class="form-group">
                    <label>Số tiền (*)</label>
                    @*<asp:TextBox ID="Amount" runat="server" CssClass="form-control"></asp:TextBox>*@
                    @Html.TextBoxFor(m => m.Amount, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <label>Nội dung thanh toán (*)</label>
                    @*<asp:TextBox ID="OrderDescription" runat="server" CssClass="form-control"></asp:TextBox>*@
                    @Html.TextBoxFor(m => m.OrderDescription, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <label>Ngân hàng</label>
                    <select class="form-control" id="bank" name="bank">
                        <option>Chọn ngân hàng</option>
                        <option>NCB</option>
                        <option>VietcomBank</option>
                        <option>VietinBank</option>
                        <option>DongA Bank</option>
                        <option>TP Bank</option>
                        <option>OceanBank</option>
                        <option>SCB</option>
                        <option>Nam A Bank</option>
                    </select>
                </div>
                @*<asp:Button ID="btnPay" runat="server" Text="Thanh toán" CssClass="btn btn-default" OnClick="btnPay_Click" />*@
                <input type="submit" class="btn btn-default" value="Thanh toán" />
            }
        </div>
    </div>

    <script src="Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <link href="https://pay.vnpay.vn/lib/vnpay/vnpay.css" rel="stylesheet" />
    <script type="text/javascript" src="https://pay.vnpay.vn/lib/vnpay/vnpay.min.js"></script>

</body>
</html>
